body {
    font-family: 'Prompt', sans-serif;
    font-size: 1rem;
}

/* .navbar { 
    padding: 0rem 1rem;
} */

/* .navbar-nav .nav-link {
    display: block;
    padding: 0;
} */

.nav-item.active a {
    font-weight: bold;
}

.pop {
    /* float: left;
    width: 100%; */
    overflow: hidden;   
    height: 210px; 
}

.pop img{
    /* width: auto; */
    width: 300px;    
    cursor: pointer;
    background: #ccc;
}

.splah-screen{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    background: #328998;    
    color: #fff;
}